.container.form-container{
   
    color: #59DBD4;
    font-style: italic;
    
}
.add-btn{
  background-color: #59DBD4;
  color: #ffff;
  width: 100%;
  border:none;
  border-radius: 5px;
  height: 40px;
}
input[type=range] {
  -webkit-appearance: none; 
  width: 100%;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 25px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; 
  
}

input[type=range]:focus {
  outline: none; 
}

.option-select{
  color:black;
}

input[type=time]::-webkit-datetime-edit-fields-wrapper {
  display: flex;
}


