 .form-control.search{
    background-color: transparent !important;
    color: black !important;
    border: 1px solid #717171 !important;
}

.btnDelete{
 background: transparent;
    border: none;
}
.btnDelete:hover{
 color:white;
}