.welcome{
     margin-top: -50px !important;
     background:rgba(32, 50, 70,0.5); 
      z-index: 2;
}
.welcome-navbar {
  background-image: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
 
}
.welcome-navbar .navbar-brand {
  color: white;
  font-weight: bold;
  text-shadow: none;
  z-index:1;
}
.navbar-default .navbar-nav > li > a {
  color: white;
  font-weight: bold;
  text-shadow: none;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #ddd;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #ddd;
  cursor:pointer;
}

.header {
  height: 100%;
  
}
.bg {
  background-image: url("./welcomepage.jpg") !important;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.over{
  position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}