.App{
    height: 100%;
    background: #f5f5f5;
}

.page{
    transform:translateX(0);
    transition:transform 0.3s ease-out;
    padding:20px;
}
.page.move{
    transform: translateX(300px);
    width: calc(100% - 300px);
}

.form-control {
    background-color: transparent !important;
    color: #fff !important;
    border: 1px solid #717171 !important;
}

.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
}

label{
    font-family: 'Public Sans', sans-serif;
    font-weight: 300;
}