.container.login{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -525px;
    margin-top: -275px;
}
.panel-heading {
  text-align: center;
  color:#59DBD4;
  margin: 10px 0;
}
.submit-btn {
  background-color: #0d2a62;
  color: #ffff;
  width: 100%;
  border:none;
  border-radius: 5px;
  height: 40px;
}
.panel{
    padding: 20px;
    background-color: rgba(3,24,45,0.7);
    border-radius: 15px;
}

.notif{
  margin-top: 5px;
  color:red;
  text-align: center;
}