.menubar{
    height:100%;
    background:rgb(32, 50, 70);
    /*box-shadow: 2px 0px 5px rgba(0,0,0,0.5);*/
    position: fixed;
    top:50px;
    left:0;
    width:300px;
    transform:translateX(-100%);
    transition:transform 0.3s ease-out;
    z-index: 1;
}
.menubar.open{
     transform:translateX(0);
}
.menubar ul{
    font-size: 16px;
    color:white;
    justify-content:center;
    list-style: none;
    padding-left: 0;
    margin-top: 30px;
}
.menubar li{
    padding:10px;
}
.menubar a{
    text-decoration: none;
    color: rgb(156, 174, 172);
}
.menubar a:hover {
    text-decoration: none;
    color: rgb(156, 174, 172);
    cursor:pointer;
   
}
.menubar ul li:hover {
    background-color: rgba(0,0,0,0.2);
}
.menubar ul li:hover a {
    color: #fff;
}
.menubar ul li svg {
    color: rgb(156, 174, 172);
}

.menubar ul li:hover svg {
    color: #fff;
}
img{
    width:150px;
    height: auto;
}
.imageStyle{
    margin-top: 20px;
    text-align: center;
}