.menu_button{
    height: 20px;
    background:transparent;
    border:none;
    cursor: pointer;
    flex-direction:column;
    justify-content:space-around;
    display: flex;
}
.menu_button:focus{
    outline: none;
}
.toggle_line{
    background: #FAD2DF; 
    width:20px;
    height: 0.5px;
}