.toolbar{
    width: 100%;
    position: fixed;
    background: rgb(32, 50, 70);
    top:0;
    left:0;
    height: 50px;
}
.toolbar_title{
    margin-left: 10px;
}
.toolbar_title p{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size:20px;
     color: rgb(156, 174, 172);
     margin-top: 16px;
}
.toolbar_title p:hover {
    color: #fff;
    text-decoration: none;
    
}
.toolbar-nav{
    height: 100%;
    display: flex;
    align-items:center;
    padding: 0 5px;
}