
.txt-over {
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -275px;
  margin-top: -175px;
  z-index: 2;
}
.txt-over p {
  width: 550px;
  font-size: 16px;
  color: #fff;
}
.txt-over h1 {
  margin-bottom: 19px;
  color: #fff;
}
.txt-over .btn {
    border-radius: 45px;
    font-size: 20px;
    padding: 10px 25px;
    margin: 5px 15px 5px 0;
    color: #fff
}

.btn-transp {
  color: white;
}
.txt-over .btn-info{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}
.btn-info:hover {
    color: #fff;
    background-color: #0d2a62 !important;
    border-color: #0d2a62 !important;
}

.section{
    background-color:#fff;
    padding:100px 0;
    position: absolute;
    top: 100%;
    z-index: 2;
    height: 1000px;
}


.img{
  width: 100%;
  height:auto;
}