
.panel-heading {
  text-align: center;
  color:#59DBD4;
  margin: 10px 0;
}
.submit-btn {
  background-color: #59DBD4;
  color: #ffff;
  width: 100%;
  border:none;
  border-radius: 5px;
  height: 40px;
}
.panel{
    padding: 20px;
    background-color: rgb(32, 50, 70);
    border-radius: 5px;
}
.passChange{
  margin-top: 10px
}

.panel.hide{
  display: none;
}